
<div id="wrapper">
<div ng-include="'views/menu.htm'"></div>
<div id="page-content-wrapper">
  <div class="container-fluid">


<h1>Aquí va la pàgina principal</h1>
<p>amb un diseny bo</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis, ante consectetur venenatis pretium, orci ipsum sollicitudin odio, in euismod nisl ligula sit amet tellus. Curabitur sed cursus nisi. Mauris id tincidunt orci, placerat tincidunt diam. Maecenas rhoncus eros mauris, commodo luctus enim egestas sit amet. Integer scelerisque enim sed suscipit placerat. Mauris eget nunc laoreet, fermentum dui a, viverra odio. Suspendisse enim lacus, posuere eu velit at, rhoncus efficitur leo. Donec ut venenatis enim, nec fermentum enim. Etiam tristique aliquam est, nec posuere arcu volutpat sed. Integer consectetur interdum quam, eget feugiat nunc euismod sed. Cras egestas congue ex ut auctor. Pellentesque enim metus, dapibus ac eleifend ac, lacinia et nisl. Aenean pellentesque metus sed tempus posuere.

Nunc sollicitudin quam tincidunt, semper tellus eget, ornare massa. Aliquam pellentesque nibh sed nulla ullamcorper tincidunt. Nullam eget lectus nisi. Pellentesque vitae facilisis lacus. Sed fermentum felis finibus tortor tempor scelerisque. Nullam mi metus, efficitur sed lobortis vel, volutpat id erat. Sed ornare vulputate iaculis. Donec volutpat sapien at est luctus porta. Mauris molestie felis quis lorem rhoncus, vel sagittis dolor convallis.

Morbi lacinia tellus nec finibus bibendum. Nulla ligula nulla, luctus eget maximus sit amet, faucibus lacinia tellus. Phasellus pretium egestas sollicitudin. Aliquam lorem nisl, ornare sit amet eleifend laoreet, placerat id velit. Morbi luctus dapibus dapibus. Duis aliquam sapien nec turpis consectetur, convallis facilisis leo tempus. In hac habitasse platea dictumst. Maecenas non nisl sit amet nisi porttitor porta. Phasellus in lacinia leo, eu vehicula ipsum.

Cras dapibus mi nec odio luctus, quis lacinia arcu mollis. Nam in enim vel diam venenatis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam hendrerit nunc sed urna efficitur sollicitudin. Quisque quis justo quis sem posuere sollicitudin. Duis dolor tortor, aliquet a quam quis, mattis venenatis nulla. Phasellus gravida elementum arcu, eget tincidunt tellus sodales vel. Vestibulum molestie, mauris eget semper accumsan, leo mauris sagittis ex, eget cursus eros massa a enim. Nullam id nibh cursus, commodo lectus id, vulputate mi. Vestibulum metus metus, auctor nec finibus a, dapibus nec ex. Fusce eget porttitor purus. In eget consequat purus, id auctor nisi. Maecenas semper, orci non semper consequat, ex tellus eleifend lorem, nec viverra urna nibh sed est.
</p>






<!-- modal login start -->
<div id="id01" class="modal">

  <div class="row">
    <div class="col s12 m12 l12">
        <div class="card">

            <div class="card-content">
                <div class="card-title">
                    <span class="card-title">Login</span>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">account_circle</i>
                        <input ng-model="loginData.name" id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input ng-model="loginData.password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <a ng-click="doLogin()" class="waves-effect waves-light btn">Login</a>
            </div>
        </div>
    </div>
</div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <a href="#!/signup" class="button">Signup</a>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</div>
<!-- modal login end -->




</div><!-- ./container-fluid -->

</div><!-- ./page-content-wrapper -->
</div><!-- ./wrapper -->
