<md-content class="md-padding" layout-xs="column" layout="column">
    <md-card>
        <div class="thumbnailBackground">
            <a ng-click="showBackgroundImgDialog($event)">
                <img ng-hide="trainer.background" ng-src="img/background.jpg" class="md-card-image"/>
                <img ng-show="trainer.background" ng-src="{{trainer.background}}" class="md-card-image"/>
            </a>
        </div>
        <md-card-actions ng-show="storageuser.role=='trainer'" layout="row" layout-align="end center">
            <md-button ng-href="#!/editTrainer/{{trainer._id}}">Edit Profile</md-button>
        </md-card-actions>
        <md-card-actions layout="row" layout-align="end center" ng-show="storageuser.role=='user'">
            <md-button>Send message</md-button>
            <md-button ng-click="sendPetition()">Ask for routine (send petition)</md-button>
        </md-card-actions>
        <md-card-title>
            <md-card-title-text>
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>Trainer Profile</span>
                    </div>
                </md-toolbar>
                <md-content class="md-padding" layout-xs="row" layout="row">
                    <div flex-xs flex-gt-xs="30" layout="column"><!-- start of COLUMN -->
                        <div class="thumbnailAvatar">
                            <a ng-click="showAvatarImgDialog($event)">
                                <img ng-hide="trainer.avatar" ng-src="img/user.png" class="md-card-image"/>
                                <img ng-show="trainer.avatar" ng-src="{{trainer.avatar}}" class="md-card-image"/>
                            </a>
                        </div>
                    </div>
                    <div flex-xs flex-gt-xs="70" layout="column"><!-- start of COLUMN -->
                        <md-list class="md-dense" flex>
                            <md-list-item class="md-4-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Name</h3>
                                    <p>{{trainer.name}}</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-4-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Email</h3>
                                    <p>{{trainer.email}}</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-4-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Description</h3>
                                    <p>{{trainer.description}}</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-4-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Disciplines</h3>
                                    <p>{{trainer.disciplines}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-card-title-text>
                <md-toolbar layout="row" class="o_toolbarTitle">
                    <div class="md-toolbar-tools">
                        <span>Clients</span>
                    </div>
                </md-toolbar>
            </md-card-title-text>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="client in storageuser.clients"
                              ng-href="#!/client/{{client.client._id}}">
                    <img ng-hide="client.client.avatar" ng-src="img/user.png" class="md-avatar"/>
                    <img ng-show="client.client.avatar" ng-src="{{client.client.avatar}}" class="md-avatar"
                         alt="{{item.who}}"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{client.client.name}}</h3>
                        <h4>{{client.client.email}}</h4>
                        <p>{{client.client.discipline}}</p>
                        <p>points: {{client.client.points.total}}</p>
                        <p>client since: {{client.date}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-content>
            <md-toolbar layout="row" class="o_toolbarTitle">
                <div class="md-toolbar-tools">
                    <span>Routines</span>
                </div>
            </md-toolbar>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="routine in storageuser.routines" ng-click="null"
                              ng-href="#!/editRoutine/{{routine._id}}">
                    <img ng-src="img/routine.png" class="md-avatar" alt="{{item.who}}"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{routine.title}}</h3>
                        <h4>{{routine.description}}</h4>
                        <p>{{routine.price}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>
</div>
