<md-content>
    <md-content class="md-padding" layout-xs="row" layout="row">
        <md-button ng-href="#!/dashboard">
            <h4>Dashboard</h4>
        </md-button>
        <md-button ng-href="#!/user/{{user._id}}">
            <h4>{{user.name}}</h4>
        </md-button>
    </md-content>
  <md-content class="md-padding" layout-xs="row" layout="row">
      <div flex-xs flex-gt-xs="50" layout="column"><!-- start of COLUMN -->
          <md-card>
              <md-toolbar layout="row" class="o_bOrange">
                  <div class="md-toolbar-tools">
                    <span>
                      {{user.marks.length}} Marks
                    </span>
                    <span flex></span>
                    <span>
                        <md-button ng-click="orderByMe('title')">
                          Sort Alphabetically
                        </md-button>
                    </span>
                    <span>{{user.marks.length}}</span>
                  </div>
              </md-toolbar>
              <md-list flex>
                  <div layout="row" ng-show="storageuser._id==user._id">
                      <md-button flex="grow" title="add new mark" ng-click="showNewMarkDialog($event)">
                          Add new mark
                      </md-button>
                  </div>
                  <md-list-item class="md-3-line" ng-repeat="mark in user.marks" ng-click="generateGraph(mark)">
                      <div class="md-list-item-text" layout="column">
                          <h3>{{mark.title}}</h3>
                          <div ng-repeat="day in mark.days">
                              <p>{{day.date | date: "dd/MM/y"}}</p>
                              <p>{{day.value}} {{mark.unit}}</p>
                          </div>
                          <div class="md-secondary">
                              <md-button class="md-raised o_bRedLight" title="delete mark"
                                    ng-click="deleteMark($event, mark)"
                                     ng-show="storageuser._id==user._id">
                                  Delete mark
                              </md-button><br>
                              <md-button class="md-raised o_bGreenLight" title="add day to mark"
                                    ng-click="showAddDayToMarkDialog($event, mark)"
                                     ng-show="storageuser._id==user._id">
                                  Add day value
                              </md-button>
                          </div>
                      </div>
                  </md-list-item>
              </md-list>
          </md-card>
      </div><!-- end of COLUMN -->
      <div flex-xs flex-gt-xs="50" layout="column"><!-- start of COLUMN -->
          <md-card>
              <md-toolbar layout="row" class="o_bOrangeDark">
                  <div class="md-toolbar-tools">
                      <span>Mark history: {{markSelected}}</span>
                  </div>
              </md-toolbar>
              <md-card-actions>
                  <canvas id="bar" class="chart chart-line"
                          chart-data="data" chart-labels="labels">
                  </canvas>
              </md-card-actions>
              <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-href="#!/points/{{user._id}}">View all points history</md-button>
              </md-card-actions>
          </md-card>
      </div><!-- end of COLUMN -->
  </md-content><!-- end of row of columns -->
</md-content>
