<!-- DASHBOARD USER -->
<div ng-show="storageuser.role=='user'">

    <md-content class="md-padding" layout-xs="row" layout="column">
        <div flex-xs flex-gt-xs="100" layout="row"><!-- start of COLUMN -->
            <md-card flex-xs flex-gt-xs="60">
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>User Graphs</span>
                    </div>
                </md-toolbar>
                <md-card-title>
                    <md-card-title-text>

                    </md-card-title-text>
                </md-card-title>
                <md-card-actions>
                    <canvas id="bar" class="chart chart-line"
                            chart-data="data" chart-labels="labels" chart-series="series">
                    </canvas>
                </md-card-actions>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>opció1</md-button>
                    <md-button>opció2</md-button>
                </md-card-actions>
            </md-card>
            <md-card flex-xs flex-gt-xs="40">
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>User Profile</span>
                    </div>
                </md-toolbar>
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-hide="storageuser.avatar" ng-src="img/user.png"/>
                            <img ng-show="storageuser.avatar" ng-src="{{storageuser.avatar}}"/>
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{storageuser.name}}</span>
                        <span class="md-subhead">{{storageuser.points.total}} points</span>
                        <p>{{storageuser.email}}</p>
                        <md-list class="md-dense" flex>
                            <md-subheader class="md-no-sticky">Attributes</md-subheader>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Height</h3>
                                    <p>{{storageuser.attributes.height}} meters</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Weight</h3>
                                    <p>{{storageuser.attributes.weight}} Kg</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Gender</h3>
                                    <p>{{storageuser.attributes.gender}}</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>Age</h3>
                                    <p>{{storageuser.attributes.age}} years old</p>
                                </div>
                            </md-list-item>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="#!/user/{{storageuser._id}}" class="md-raised">Full Profile</md-button>
                </md-card-actions>
            </md-card>
        </div><!-- end of COLUMN -->
        <div flex-xs flex-gt-xs="100" layout="row"><!-- start of COLUMN -->
            <md-card flex-xs flex-gt-xs="50">
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>Routines</span>
                    </div>
                </md-toolbar>
                <md-card-title>
                    <md-card-title-text>

                    </md-card-title-text>
                </md-card-title>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="routine in storageuser.routines" ng-click="null"
                                  ng-href="#!/routine/{{routine._id}}">
                        <img ng-src="img/routine.png" class="md-avatar" alt="{{item.who}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{routine.title}}</h3>
                            <h4>{{routine.description}}</h4>
                            <p>{{routine.price}}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-warn">Delete contract</md-button>
                    <md-button class="md-raised">Search Trainers</md-button>
                </md-card-actions>
            </md-card>
            <md-card flex-xs flex-gt-xs="50">
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>Diets</span>
                    </div>
                </md-toolbar>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="diet in storageuser.diets" ng-click="null"
                                  ng-href="#!/diet/{{diet._id}}">
                        <img ng-src="img/essential/apple.png" class="md-avatar" alt="{{item.who}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{diet.title}}</h3>
                            <h4>{{diet.description}}</h4>
                            <p>{{diet.price}}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-warn">Delete Diet</md-button>
                    <md-button ng-click="showPrompt($event)" class="md-raised">Add Diet (Buy)</md-button>
                </md-card-actions>
            </md-card>
        </div><!-- end of COLUMN -->
    </md-content>
</div>
<!-- end DASHBOARD USER-->

<!--


user (client)
****************
trainer


(separador amb espai, pq es pugui trobar fàcil visualment on comença i on acaba el dashboard de l'user i el dashboard del trainer)
-->

<!-- DASHBOARD TRAINER -->
<div ng-show="storageuser.role=='trainer'">

    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column"><!-- start of COLUMN -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline">
              Clients
            </span>
                    </md-card-title-text>
                </md-card-title>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="client in storageuser.clients"
                                  ng-href="#!/client/{{client.client._id}}">
                        <img ng-hide="client.client.avatar" ng-src="img/user.png" class="md-avatar"/>
                        <img ng-show="client.client.avatar" ng-src="{{client.client.avatar}}" class="md-avatar"
                             alt="{{item.who}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.client.name}}</h3>
                            <h4>{{client.client.email}}</h4>
                            <p>{{client.client.discipline}}</p>
                            <p>points: {{client.client.points.total}}</p>
                            <p>client since: {{client.date}}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-warn">Delete contract</md-button>
                    <md-button>Search Clients</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline">
              Clients Petitions
            </span>
                    </md-card-title-text>
                </md-card-title>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="petition in storageuser.clientsPetitions"
                                  ng-show="petition.state=='pendent'">
                        <img ng-src="img/user.png" class="md-avatar"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{petition.clientid.name}}</h3>
                            <h4>state: {{petition.state}}</h4>
                            <p>{{petition.message}}</p>
                            <md-button class="md-icon-button md-secondary" title="view user">
                                <img ng-src="img/view.png" class="md-avatar o_imgBtn1"/>
                            </md-button>
                            <md-button class="md-icon-button md-secondary" title="decline">
                                <img ng-src="img/decline.png" class="md-avatar o_imgBtn1"/>
                            </md-button>
                            <md-button ng-click="acceptPetition($event, petition._id)"
                                       class="md-icon-button md-secondary" title="accept">
                                <img ng-src="img/accept.png" class="md-avatar o_imgBtn1"/>
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline">
              Graphs (per ara són hardcoded, però seran sobre la info dels clients, o econòmics)
            </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions>
                    <canvas id="bar" class="chart chart-line"
                            chart-data="data" chart-labels="labels" chart-series="series">
                    </canvas>
                </md-card-actions>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>opció1</md-button>
                    <md-button>opció2</md-button>
                </md-card-actions>
            </md-card>
        </div><!-- end of COLUMN -->
        <div flex-xs flex-gt-xs="50" layout="column"><!-- start of COLUMN -->
            <md-card flex-xs flex-gt-xs="40">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{storageuser.name}}</span>
                        <span class="md-subhead">{{storageuser.points.total}} points</span>
                        <p>{{storageuser.email}}</p>
                        <p>{{storageuser.description}}</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-hide="storageuser.avatar" ng-src="img/user.png"/>
                            <img ng-show="storageuser.avatar" ng-src="{{storageuser.avatar}}"/>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="#!/trainer/{{storageuser._id}}">Full Profile</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline">
              Routines
            </span>
                    </md-card-title-text>
                </md-card-title>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="routine in storageuser.routines" ng-click="null"
                                  ng-href="#!/editRoutine/{{routine._id}}">
                        <img ng-src="img/routine.png" class="md-avatar" alt="{{item.who}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{routine.title}}</h3>
                            <h4>{{routine.description}}</h4>
                            <p>{{routine.price}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div><!-- end of COLUMN -->
    </md-content>
</div>
<!-- end DASHBOARD TRAINER-->

<!--


user (client)
****************
trainer


(separador amb espai, pq es pugui trobar fàcil visualment on comença i on acaba el dashboard del trainer i el dashboard del chef)
-->

<!-- DASHBOARD CHEF -->
<div ng-show="storageuser.role=='chef'">

    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column"><!-- start of COLUMN -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline">
              Diets
            </span>
                    </md-card-title-text>
                </md-card-title>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="diet in storageuser.diets" ng-click="null"
                                  ng-href="#!/diet/{{diet._id}}">
                        <img ng-src="img/essential/apple.png" class="md-avatar" alt="{{item.who}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{diet.title}}</h3>
                            <h4>{{diet.description}}</h4>
                            <p>{{diet.price}}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Search Diets</md-button>
                    <md-button ng-click="createDiet($event)">Add New Diet</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline">
              Graphs (per ara són hardcoded, però seran sobre la info dels clients, o econòmics)
            </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions>
                    <canvas id="bar" class="chart chart-line"
                            chart-data="data" chart-labels="labels" chart-series="series">
                    </canvas>
                </md-card-actions>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>opció1</md-button>
                    <md-button>opció2</md-button>
                </md-card-actions>
            </md-card>
        </div><!-- end of COLUMN -->
        <div flex-xs flex-gt-xs="50" layout="column"><!-- start of COLUMN -->
            <md-card flex-xs flex-gt-xs="40">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{storageuser.name}}</span>
                        <span class="md-subhead">{{storageuser.points.total}} points</span>
                        <p>{{storageuser.email}}</p>
                        <p>{{storageuser.description}}</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-hide="storageuser.avatar" ng-src="img/user.png"/>
                            <img ng-show="storageuser.avatar" ng-src="{{storageuser.avatar}}"/>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="#!/chef/{{storageuser._id}}">Full Profile</md-button>
                </md-card-actions>
            </md-card>
        </div><!-- end of COLUMN -->
    </md-content>
</div>
<!-- end DASHBOARD CHEF-->
