<md-content class="md-padding" layout-xs="column" layout="column">
    <md-card>
        <md-card-title>
            <md-content class="md-padding">
                <h1 class="md-display-2">Trainer Profile</h1>
            </md-content>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center" ng-show="storageuser.role=='trainer'">
        </md-card-actions>
        <md-list md-dynamic-height md-border-bottom>
            <md-list-item label="{{trainer.name}}">
                <md-content class="md-padding">
                    <h2 class="md-display-1">Trainer</h2>
                </md-content>
            </md-list-item>
            <md-list-item label="Trainer" ng-show="storageuser.role=='trainer'">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>New Name</label>
                        <input ng-model="trainer.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>New Email</label>
                        <input ng-model="trainer.email">
                    </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Description</label>
                    <textarea ng-model="trainer.description" md-maxlength="150" rows="5"
                              md-select-on-focus=""></textarea>
                </md-input-container>
            </md-list-item>
            <md-input-container class="md-block">
                <label>Avatar</label>
                <md-button aria-label="upload image">Upload...</md-button>
                <input ng-model="trainer.image">
            </md-input-container>
            <md-button ng-click="editTrainerProfile()"><h3>Save Changes</h3></md-button>
        </md-list>
    </md-card>
</md-content>
</div>
