<md-toolbar layout="row" class="md-hue-3">
  <div class="md-toolbar-tools">
    <span>Diet - pàgina de la dieta que té l'user triada</span>
  </div>
</md-toolbar>
<md-subheader class="md-primary">Aquí es veu la dieta. Si encara no tens dieta assignada, veus les opcions de dieta a triar.</md-subheader>
<md-content>
  <h3>Diets</h3>
  <md-list flex>
    <md-list-item class="md-3-line" ng-repeat="diet in diets" ng-click="null" ng-href="#!/diet/{{diet._id}}">
      <img ng-src="img/user.png" class="md-avatar"/>
      <div class="md-list-item-text" layout="column">
        <h3>{{diet.title}}</h3>
        <h4>{{diet.description}}</h4>
        <p>{{diet.day}}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
