<md-content>
    <!--aquí anirà ng-show="!storageuser.trainers" -->
    <div layout="row">
        <div flex-xs flex-gt-xs="40" layout="column">
            <!-- start of COLUMN -->
            <md-card ng-show="storageuser.role=='user'">
                <md-toolbar layout="row" class="o_bRed">
                    <div class="md-toolbar-tools">
                        <span>Available Trainers</span>
                    </div>
                </md-toolbar>
                <md-subheader class="md-primary">Choose your desired trainer!</md-subheader>
                <md-list flex>
                    (es mostren tots els trainers disponibles (falta posar paginació))
                    <md-list-item class="md-3-line" ng-repeat="trainer in trainers" ng-href="#!/user/{{trainer._id}}">
                        <img ng-show="trainer.avatar" ng-src="{{trainer.avatar}}" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{trainer.name}}</h3>
                            <h3>{{trainer.surname}}</h3>
                            <h4>{{trainer.email}}</h4>
                            <div class="md-list-item-text" layout="column">
                                <p ng-repeat="discipline in trainer.disciplines">{{discipline.name}}</p>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="#!/trainersSearcher" class="md-raised" md-colors="{background: 'green'}">Search by discipline</md-button>
                </md-card-actions>
            </md-card>

            <md-card ng-show="storageuser.role=='trainer'">
                <md-card-title-text>
                    <md-toolbar layout="row" class="o_bBlueDark">
                        <div class="md-toolbar-tools">
                            <span>Clients</span>
                        </div>
                    </md-toolbar>
                </md-card-title-text>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="client in storageuser.clients"
                                  ng-href="#!/client/{{client.client._id}}">
                        <img ng-hide="client.client.avatar" ng-src="img/user.png" class="md-avatar"/>
                        <img ng-show="client.client.avatar" ng-src="{{client.client.avatar}}" class="md-avatar"
                             alt="{{item.who}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{client.client.name}}</h3>
                            <h3>{{client.client.surname}}</h3>
                            <h4>{{client.client.email}}</h4>
                            <p>{{client.client.discipline}}</p>
                            <p>points: {{client.client.points.total}}</p>
                            <p>client since: {{client.date | date: "dd/MM/yyyy, HH:mm"}}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Search Clients</md-button>
                </md-card-actions>
            </md-card>
            <md-card ng-show="storageuser.role=='trainer'">
                <md-toolbar layout="row" class="o_bOrange">
                    <div class="md-toolbar-tools">
                        <span>Clients Petitions</span>
                    </div>
                </md-toolbar>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="petition in storageuser.clientsPetitions"
                                  ng-show="petition.state=='pendent'">
                        <img ng-src="{{petition.clientid.avatar}}" class="md-avatar"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{petition.clientid.name}}</h3>
                            <h3>{{petition.clientid.surname}}</h3>
                            <h4>state: {{petition.state}}</h4>
                            <p>{{petition.message}}</p>
                            <md-button class="md-icon-button md-secondary" title="view user">
                                <img ng-src="img/view.png" class="md-avatar o_imgBtn1"/>
                            </md-button>
                            <md-button class="md-icon-button md-secondary" title="decline">
                                <img ng-src="img/decline.png" class="md-avatar o_imgBtn1"/>
                            </md-button>
                            <md-button ng-click="acceptPetition($event, petition._id)"
                                       class="md-icon-button md-secondary" title="accept">
                                <img ng-src="img/accept.png" class="md-avatar o_imgBtn1"/>
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="60" layout="column">
            <!-- start of COLUMN -->
            <md-card ng-show="storageuser.role=='user'">
                <md-toolbar layout="row" class="o_bRedDark">
                    <div class="md-toolbar-tools">
                        <span>Trainers in contract</span>
                    </div>
                </md-toolbar>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="trainer in user.trainers" ng-href="#!/user/{{trainer._id}}">
                        <img ng-show="trainer.avatar" ng-src="{{trainer.avatar}}" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{trainer.name}}</h3>
                            <h3>{{trainer.surname}}</h3>
                            <h4>{{trainer.email}}</h4>
                            <div class="md-list-item-text" layout="column">
                                <p ng-repeat="discipline in user.disciplines">{{discipline}}</p>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
            <md-card>
                <md-toolbar layout="row" class="o_bRed">
                    <div class="md-toolbar-tools">
                        <span ng-show="storageuser.role=='user'">
                            Routines
                        </span>
                        <span ng-show="storageuser.role=='trainer'">
                            Routines Created
                        </span>
                    </div>
                </md-toolbar>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="routine in user.routines" ng-click="null" ng-href="#!/routine/{{routine._id}}">
                        <img ng-src="img/routine.png" class="md-avatar" alt="{{item.who}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{routine.title}}</h3>
                            <h4>{{routine.description}}</h4>
                            <p>{{routine.price}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </div>
</md-content>
