  <md-content class="md-padding" layout-xs="column" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              {{client.name}}
            </span>
            <span class="md-subhead">
              {{client.description}}
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center" ng-show="storageuser.role=='trainer'">
          <md-button>Delete Client</md-button>
          <md-button>Messages</md-button>
          <md-button ng-click="addRoutine($event)">Add Routine</md-button>
        </md-card-actions>
        <md-card-content ng-show="client.routines">
          Client routines:
          <md-list flex>
              <md-list-item class="md-3-line" ng-repeat="routine in client.routines" ng-click="null"
                            ng-href="#!/editRoutine/{{routine._id}}">
                  <img ng-src="img/routine.png" class="md-avatar" alt="{{item.who}}"/>
                  <div class="md-list-item-text" layout="column">
                      <h3>{{routine.title}}</h3>
                      <h4>{{routine.description}}</h4>
                      <p>{{routine.price}}</p>
                  </div>
              </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
  </md-content>
</div>
