<md-content class="md-padding" layout-xs="column" layout="column">
    <md-card>
        <md-card-title-text>
            <md-toolbar layout="row" class="o_bBlueDark">
                <div class="md-toolbar-tools">
                    <span>Clients</span>
                </div>
            </md-toolbar>
        </md-card-title-text>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="client in storageuser.clients" ng-href="#!/client/{{client.client._id}}">
                <img ng-hide="client.client.avatar" ng-src="img/user.png" class="md-avatar" />
                <img ng-show="client.client.avatar" ng-src="{{client.client.avatar}}" class="md-avatar" alt="{{item.who}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{client.client.name}}</h3>
                    <h3>{{client.client.surname}}</h3>
                    <h4>{{client.client.email}}</h4>
                    <p>{{client.client.discipline}}</p>
                    <p>points: {{client.client.points.total}}</p>
                    <p>client since: {{client.date | date: "dd/MM/yyyy, HH:mm"}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-card>
    <md-card>
        <md-toolbar layout="row" class="o_bOrange">
            <div class="md-toolbar-tools">
                <span>Clients Petitions</span>
            </div>
        </md-toolbar>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="petition in storageuser.clientsPetitions" ng-show="petition.state=='pendent'">
                <img ng-src="{{petition.clientid.avatar}}" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{petition.clientid.name}}</h3>
                    <h3>{{petition.clientid.surname}}</h3>
                    <h4>state: {{petition.state}}</h4>
                    <p>{{petition.message}}</p>
                    <md-button class="md-icon-button md-secondary" title="view user">
                        <img ng-src="img/view.png" class="md-avatar o_imgBtn1" />
                    </md-button>
                    <md-button class="md-icon-button md-secondary" title="decline">
                        <img ng-src="img/decline.png" class="md-avatar o_imgBtn1" />
                    </md-button>
                    <md-button ng-click="acceptPetition($event, petition._id)" class="md-icon-button md-secondary" title="accept">
                        <img ng-src="img/accept.png" class="md-avatar o_imgBtn1" />
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-card>
</md-content>
