.o_imgBtn1{
  width: 20px;
}

.o_insideNavbar{
  height: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}


.o-imgSelectAvatar{
  width: 45px!important;
  height: 45px!important;
}

.o_sidenav{
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  width: 170px;

  left: 0;
  top: 0;

  z-index: 60;

  height: 100%;
}
