.o_imgBtn1{
  width: 20px;
}

.o_insideNavbar{
  height: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}


.o-imgSelectAvatar{
  width: 45px!important;
  height: 45px!important;
}
.o_imgProfile{
  width: 80px!important;
  /*height: 80px!important;*/
}

/* img de portada d'user */
.thumbnailBackground {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.thumbnailBackground img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.thumbnailAvatar {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.thumbnailAvatar img {
  border: 1px solid #000000;
  cursor: pointer;
  width: 200px;
  /*height: 100px;*/
}
/* end of img de portada d'user */

.o_cursorPointer{
  cursor: pointer;
}
.o_sidenav{
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  width: 170px;

  left: 0;
  top: 0;

  z-index: 60;

  height: 100%;
}

/*
    SISTEMA DE COLORS

    users: blue
    routines: red
    diets: yellow

    la nomenclatura és:
    o_bColor
    la 'o' és de 'own', per saber que és una classe pròpia nostra i que no colisioni amb les classes dels frameworks css
    la 'b' és de background, si és una 'f' és de font
    a part podem posar ColorDark o ColorLight per fer un color més fosc o més clar
*/
.o_bSidenav{
    background: rgb(45,62,78)!important;
    color: #ffffff!important;
}
.o_fWhiteLight{
    color: #c6ccd2!important;
}
.o_bGrey{
  background: #e6e6e6!important;
  color: #000000!important;
}
/* backgrounds color: bColor */
.o_bRed{
    background: rgb(252,87,85)!important;
    color: #ffffff!important;
}
.o_bRedDark{
    background: rgb(218, 89, 120)!important;
    color: #ffffff!important;
}
.o_bGreen{
    background: rgb(123,195,70)!important;
    color: #ffffff!important;
}
.o_bGreenDark{
    background: rgb(54,188,155)!important;
    color: #ffffff!important;
}
.o_bBlue{
    background: rgb(104,195,240)!important;
    color: #ffffff!important;
}
.o_bBlueDark{
    background: rgb(72,118,180)!important;
    color: #ffffff!important;
}
.o_bYellow{
    background: rgb(251,187,61)!important;
    color: #ffffff!important;
}
.o_bYellowDark{
    background: #F9A825!important;
    color: #ffffff!important;
}
.o_bOrange{
    background: rgb(251, 126, 61)!important;
    color: #ffffff!important;
}
.o_bOrangeDark{
    background: #FF7043!important;
    color: #ffffff!important;
}
