<md-content>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span><h1>User Settings</h1></span>
        </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Discover the differents levels">
            <md-content class="md-padding">
                <h4 class="md-display-1">Gamification</h4>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Levels</md-subheader>
                    <md-list-item class="md-4-line">
                        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>Level 1 </h3>
                            <h4> Soldier</h4>
                            <p>You just started ma men </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-4-line">
                        <img ng-src="" class="md-avatar"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>Level 2 </h3>
                            <h4> Sniper</h4>
                            <p>You just started ma men </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-4-line">
                        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>Level 3 </h3>
                            <h4> General</h4>
                            <p>You just started ma men </p>
                        </div>
                    </md-list-item>
            </md-content>
        </md-tab>
        <md-tab label="Unlogin from Other Devices">
            <md-content class="md-padding">
                <h1 class="md-display-1">Select the device from which you wish to end the session</h1>
                <md-subheader class="md-no-sticky">Here will appear a list of tokens and their respective device ID
                </md-subheader>
                <md-list-item>
                    <p> This Device </p>
                    <md-checkbox class="md-secondary" ng-model="device.todelete"></md-checkbox>
                </md-list-item>
                <md-list-item>
                <p> This Device </p>
                <md-checkbox class="md-secondary" ng-model="device.todelete1"></md-checkbox>
                </md-list-item>
                <md-divider></md-divider>
                <md-button class="md-raised" ng-click="deleteSession()" md-colors="{background: 'red'}">Delete Selected Sessions</md-button>
            </md-content>
            <!--   <md-subheader class="md-no-sticky">Here will appear a list of tokens and their respective device ID</md-subheader>
               <md-list-item ng-repeat="device in devices">
                   <p> {{ device.name }} </p>
                   <md-checkbox class="md-secondary" ng-model="device.todelete"></md-checkbox>
               </md-list-item>-->
        </md-tab>
        <md-tab label="Other Settings">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie
                    dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi.
                    Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam,
                    congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
</div>


</md-content>
