<md-content class="md-padding" layout-xs="column" layout="column">
    <md-card>
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline" style="font-weight: bold">
              {{user.name}}
            </span>
                <span class="md-subhead">
              {{user.description}}
            </span>
                <span class="md-subhead">
              {{user.email}}
            </span>
                <span class="md-subhead">
              {{user.image}}
            </span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
        <md-list flex>
            <h2 class="md-headline">User trainers:</h2>
            <md-list-item class="md-3-line" ng-repeat="trainer in user.trainers ">
                <img ng-src="img/user.png" class="md-avatar" alt="{{item.who}}"/>
                <div class="md-list-item-text" layout="column">
                    <h4>{{user.trainers.name}}</h4>
                    <h4>{{user.trainers.discipline}}</h4>
                </div>
            </md-list-item>
        </md-list>
        <md-list flex>
            <h2 class="md-headline">User routines:</h2>
            <md-list-item class="md-3-line" ng-repeat="routine in user.routines">
                <img ng-src="img/routine.png" class="md-avatar" alt="{{item.who}}"/>
                <div class="md-list-item-text" layout="column">
                    <h4>{{user.routine.title}}</h4>
                    <h4>{{user.routine.description}}</h4>
                </div>
            </md-list-item>
        </md-list>
        <md-list flex>
            <h2 class="md-headline">User diets:</h2>
            <md-list-item class="md-3-line" ng-repeat="diet in user.diets">
                <img ng-src="img/user.png" class="md-avatar" alt="{{item.who}}"/>
                <div class="md-list-item-text" layout="column">
                    <h4>{{user.diet.title}}</h4>
                    <h4>{{user.diet.description}}</h4>
                </div>
            </md-list-item>
        </md-list>
        <h2 class="md-headline">User attributes:</h2>
        <md-tab label="Attributes">
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" layout="column">
                    <p>Height: {{user.attributes.height}}</p>
                    <p>New Height: <input ng-model="user.attributes.height"></p>
                    <p>Weight: {{user.attributes.weight}}</p>
                    <p>New Weight: <input ng-model="user.attributes.height"></p>
                    <p>Gender: {{user.attributes.gender}}</p>
                    <p>New Gender: <input ng-model="user.attributes.gender"></p>
                    <p>Age: {{user.attributes.age}}</p>
                    <p>New Age: <input ng-model="user.attributes.age"></p>
                </div>
            </md-list-item>
        </md-tab>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-href="#!/editUser/{{user._id}}">Edit Profile</md-button>
        </md-card-actions>
    </md-card>
</md-content>
</div>
