<md-content class="md-padding" layout-xs="column" layout="column">
    <md-card>
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline">
              {{user.trainer}}
            </span>
                <span class="md-subhead">
              {{user.name}}
            </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center" ng-show="storageuser.role=='client'">
            <md-button>Edit</md-button>
            <md-button>Save Changes</md-button>
        </md-card-actions>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="{{user.name}}">
                <md-content class="md-padding">
                    <h1 class="md-display-2">{{user.description}}</h1>
                </md-content>
            </md-tab>
            <md-tab label="New Day" ng-show="storageuser.role=='client'">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label>New Name</label>
                        <input ng-model="trainer.name">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>New Description</label>
                        <input ng-model="trainer.name">
                    </md-input-container>
                    <p>Clients</p>
                    <hr>
                    <md-button ng-click="delTrainer(trainer)" title="delete trainer" class="md-block"
                               ng-show="trainers.length>1">
                        <img> src="img/trash_grey.png"</img>
                    </md-button>
                    </div>
                    <div layout="row">
                        <md-button ng-click="addTrainer()" title="new trainer" flex="grow">
                            <h4>+</h4>
                        </md-button>
                    </div>
                    <md-button ng-click="delDiet(diet)" title="delete diet" class="md-block"
                               ng-show="diets.length>1">
                        <img> src="img/trash_grey.png"</img>
                    </md-button>
                    </div>
                    <div layout="row">
                        <md-button ng-click="addDiet()" title="new diet" flex="grow">
                            <h4>+</h4>
                        </md-button>
                    </div>
            </md-tab>
        </md-tabs>
    </md-card>
</md-content>
</div>
