<div>
    <md-content layout-xs="column" layout="column">
        <div class="thumbnailBackground">
            <a ng-click="showImgComplete($event, user.background)">

                <md-input-container class="md-block" flex-gt-sm class="md-block">
                    <div class="form_controls">
                        <div class="upload_button_holder">
                            <md-button class="md-raised" class="upload_button"
                                       ngf-select="uploadFileBackground($file, $index)" title="upload"
                                       resetOnClick="true">Change Background Image
                            </md-button>
                        </div>
                    </div>
                    <div class="file">
                        <p>{{user.imgfile.name}} {{f.$error}} {{f.$errorParam}}</p>
                        <div class="status">{{user.imgfile.status}}</div>
                        <div class="progress-bar">
                            <div class="progress" style="width: {{user.imgfile.progress}}%"
                                 ng-init="progress=0"></div>
                        </div>
                        <div class="form_line">
                            <div class="form_controls">
                                <div class="preview">
                                    <img class="md-card-image" ng-src="{{user.background}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </md-input-container>
            </a>
        </div>
        <md-content class="md-padding" layout-xs="row" layout="row">
            <div flex-xs flex-gt-xs="30" layout="column">
                <!-- start of COLUMN -->
                <md-card>
                    <md-toolbar layout="row" class="o_bBlue">
                        <div class="md-toolbar-tools">
                            <span>
                                <md-input-container>
                                    <label>Name</label>
                                    <input ng-model="user.name">
                                </md-input-container>
                                <md-input-container>
                                    <label>Name</label>
                                    <input ng-model="user.surname">
                                </md-input-container>
                            </span>
                        </div>
                    </md-toolbar>
                    <md-card-content>
                        <div class="thumbnailAvatar">
                            <a ng-click="showImgComplete($event, user.avatar)">
                                <md-input-container class="md-block" flex-gt-sm class="md-block">
                                    <div class="form_controls">
                                        <div class="upload_button_holder">
                                            <md-button class="md-raised" class="upload_button"
                                                       ngf-select="uploadFileAvatar($file, $index)" title="upload"
                                                       resetOnClick="true">Change Profile Image
                                            </md-button>
                                        </div>
                                    </div>
                                    <div class="file">
                                        <p>{{user.imgfile.name}} {{f.$error}} {{f.$errorParam}}</p>
                                        <div class="status">{{user.imgfile.status}}</div>
                                        <div class="progress-bar">
                                            <div class="progress" style="width: {{user.imgfile.progress}}%"
                                                 ng-init="progress=0"></div>
                                        </div>
                                        <div class="form_line">
                                            <div class="form_controls">
                                                <div class="preview">
                                                    <img style="width:100%;" ng-src="{{user.avatar}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-input-container>
                            </a>
                        </div>

                        <md-card-actions layout="row" layout-align="start center">
                            <span class="md-subhead">
                                <md-button ng-href="#!/follows/{{user._id}}" class="o_bBlueDark">
                                    following: {{user.following.length}}
                                </md-button>
                            </span>
                            <span class="md-subhead">
                                <md-button ng-href="#!/follows/{{user._id}}" class="o_bBlueDark">
                                    followers: {{user.followers.length}}
                                </md-button>
                            </span>
                        </md-card-actions>
                        <span class="md-subhead">
                            <md-input-container>
                                <label>Description</label>
                                <input ng-model="user.description">
                            </md-input-container>
                        </span>
                        <span class="md-subhead">
                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="user.email" type="email">
                            </md-input-container>
                        </span>
                    </md-card-content>
                </md-card>
            </div>
            <!-- /column -->
            <!-- column -->
            <div flex-xs flex-gt-xs="30" layout="column">
                <!-- start of COLUMN publications-->
                <md-card>
                    <md-toolbar layout="row" class="o_bBlueDark">
                        <div class="md-toolbar-tools">
                            <span>Personal Info</span>
                        </div>
                    </md-toolbar>
                    <md-card-content>
                        <!-- disciplines -->
                        <div ng-show="user.role=='trainer'">
                            <h3 class="md-headline">Trainer disciplines</h3>
                            <md-list-item ng-repeat="discipline in user.disciplines">
                                <md-input-container class="md-block">
                                    <label>Disciplines</label>
                                    <input ng-model="discipline.name">
                                </md-input-container>
                            </md-list-item>
                            <md-list-item>
                                <md-button ng-click="addDiscipline()" title="add discipline" flex="grow">
                                  <h4>+</h4>
                                </md-button>
                            </md-list-item>
                        </div>
                        <!-- /disciplines -->
                        <h3 class="md-headline">User attributes</h3>
                        <md-list class="md-dense" flex>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <md-input-container class="md-block">
                                        <label>Height (m)</label>
                                        <input ng-model="user.attributes.height">
                                    </md-input-container>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <md-input-container class="md-block">
                                        <label>Weight (kg)</label>
                                        <input ng-model="user.attributes.weight">
                                    </md-input-container>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <md-input-container class="md-block">
                                        <label>Gender</label>
                                        <input ng-model="user.attributes.gender">
                                    </md-input-container>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text" layout="column">
                                    <md-input-container class="md-block">
                                        <label>Age</label>
                                        <input ng-model="user.attributes.age">
                                    </md-input-container>
                                </div>
                            </md-list-item>
                            <div layout="row" layout-wrap>
                                <div flex="33">
                                    <label>You were born on:</label>
                                    <datepicker date-format="fullDate">
                                        <input ng-model="user.birthdate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>
                            <div flex="33">
                                <label>Age: {{calculateAge(user.birthdate)}}</label>
                            </div>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <!-- /column -->

            <!-- column -->
            <div flex-xs flex-gt-xs="30" layout="column">
                <!-- start of COLUMN publications-->
                <md-card>
                    <md-toolbar layout="row" class="o_bBlueDark">
                        <div class="md-toolbar-tools">
                            <span>Personal Info</span>
                        </div>
                    </md-toolbar>
                    <md-card-content>
                        <md-input-container class="md-block">
                            <label>Direction</label>
                            <input ng-model="user.direction">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-button ng-click="updateUser()" class="md-raised md-primary">
                                Save Changes
                            </md-button>
                        </md-input-container>
                    </md-card-content>
                </md-card>
            </div>
            <!-- /column -->
        </md-content>
    </md-content>
</div>
<!-- end of user section -->
<!-- end PROFILE USER-->
