<!-- Start header section -->
<!-- Need to add improved routing -->
<header id="mu-header">
		<nav class="navbar navbar-default mu-main-navbar" role="navigation">
				<div class="container">
						<div class="navbar-header">
								<!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
												data-target="#navbar" aria-expanded="false" aria-controls="navbar">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<!-- LOGO -->
								<!--  Image based logo  -->
								<a class="navbar-brand" href="landingpage.html"><img src="../../img/logo.png" alt="Logo img"></a>
								<!--  Text based logo  -->
								<!--           <a class="navbar-brand" href="index.html"><span>FoodSports</span></a>   -->
						</div>
						<div id="navbar" class="navbar-collapse collapse">
								<ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
										<li><a href="landingpage.html#mu-slider">HOME</a></li>
										<li><a href="landingpage.html#mu-about-us">ABOUT US</a></li>
										<li><a href="landingpage.html#mu-restaurant-menu">MENU</a></li>
										<li><a href="landingpage.html#mu-gallery">GALLERY</a></li>
										<li><a href="landingpage.html#mu-chef">OUR COOKS</a></li>
										<li><a href="landingpage.html#mu-trainer">OUR TRAINERS</a></li>
								</ul>
						</div><!--/.nav-collapse -->
				</div>
		</nav>
</header>
<!-- End header section -->

<br><br><br><br><br><br><br>

<div layout="column" flex id="content" role="main">
	<md-content layout="vertical" flex id="content">
		<div layout="row" layout-align="center center" layout-fill>
			<md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
				<md-content md-theme="docs-dark">
					<md-input-container>
						<label>Email</label>
						<input ng-model="loginData.email">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input ng-model="loginData.password" type="password">
					</md-input-container>
					<md-input-container layout-align="center center">
						<div layout="row" layout-sm="column" layout-margin>
              <md-button href="#!/main" class="md-raised md-warn" flex="50" flex-sm="100">Cancel</md-button>
							<md-button ng-click="doLogin()" class="md-raised" flex="50" flex-sm="100">Login</md-button>
						</div>
					</md-input-container>
          <md-input-container>
            <a href="#!/signup">Not registered? Signup!</a>
          </md-input-container>
				</md-content>
			</md-whiteframe>
		</div>
	</md-content>
</div>
