<nav class="teal lighten-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">FoodSport</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Company</a></li>
      <span ng-show="!storageusername">
        <li><a href="#!/signup">Signup</a></li>
        <li><a onclick="document.getElementById('id01').style.display='block'">Login</a></li>
      </span>
      <span ng-show="storageusername">
        <li><a href="#!/dashboard">dashboard</a></li>
        <li>user: <b>{{storageusername.name}}</b></li>
        <li><a ng-click="logout()">Logout</a></li>
      </span>
    </ul>
  </div>
</nav>
