<md-dialog>
  <md-content class="md-padding">
    <p>
  		<md-input-container class="md-block">
  			<label>Title</label>
  			<input ng-model="newPost.title">
  		</md-input-container>
      <md-input-container class="md-block">
          <label>Content</label>
          <textarea ng-model="newPost.content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm class="md-block">
        <label>

        </label>
        <div class="form_controls">
            <div class="upload_button_holder">
                <div href="#" class="upload_button" ngf-select="uploadFileAvatar($file, $index)" title="upload" resetOnClick="true" >
                  <md-button class="md-raised" md-colors="{background: 'blue'}" flex="100" flex-sm="100">Update image</md-button>
                </div>
            </div>
        </div>
        <div class="file">
            <p>{{newPost.imgfile.name}} {{f.$error}} {{f.$errorParam}}</p>
            <div class="status">{{newPost.imgfile.status}}</div>
            <div class="progress-bar">
              <div class="progress" style="width: {{newPost.imgfile.progress}}%" ng-init="progress=0"></div>
            </div>
            <div class="form_line">
                <div class="form_controls">
                    <div class="preview">
                        <img ng-show="newPost.photo" style="width: 400px" ng-src="{{newPost.photo}}">
                    </div>
                </div>
            </div>
        </div>
      </md-input-container>
  	</p>
  </md-content>
  <md-card-actions layout="row" layout-align="end center">
  		<md-button ng-click="sendNewPost()" class="md-raised" md-colors="{background: 'green'}" flex="50" flex-sm="100">Send!</md-button>
  </md-card-actions>
</md-dialog>
