<div ng-controller="SidenavCtrl">
  <div ng-show="storageuser" class="o-sidenav md-whiteframe-4dp">
        <md-content style="position: relative; top: 100px;">
          <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="option in options" ng-href="#!{{option.link}}">
              <img ng-src="{{option.icon}}" class="md-avatar" alt="{{option.description}}" />
              <div class="md-list-item-text" layout="column">
                <h3>{{ option.title }}</h3>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="logout()">
              <img src="img/essential/power.png" class="md-avatar" alt="logout" />
              <div class="md-list-item-text" layout="column">
                <h3>Logout</h3>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
  </div>
<md-toolbar md-colors="{background: 'teal'}">
  <div class="md-toolbar-tools">
  <h2>FoodSports</h2>
  <span flex="75"></span>
  <md-list-item flex class="md-2-line contact-item">
    <img ng-src="img/user.png" class="md-avatar" alt="{{contact.name}}" />
    <div class="md-list-item-text compact">
      <h3>{{storageuser.name}}</h3>
      <p>{{storageuser.points.total}} points</p>
    </div>
  </md-list-item>
</div>
</md-toolbar>
</div>
