<div ng-controller="SidenavCtrl" ng-show="storageuser">
    <div class="o_sidenav md-whiteframe-8dp o_bDarkBlue">
        <md-sidenav
                class="md-sidenav-left o_bDarkBlue"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="8">
            <md-toolbar class="o_bDarkBlue">
                <h1 class="md-toolbar-tools o_fWhiteLight">FoodSports</h1>
            </md-toolbar>
            <md-content class="o_bDarkBlue">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="option in options" ng-href="#!{{option.link}}">
                        <img ng-src="{{option.icon}}" class="md-avatar" alt="{{option.description}}"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">{{ option.title }}</h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="logout()">
                        <img src="img/essential/power.png" class="md-avatar" alt="logout"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Logout</h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
    <md-toolbar md-colors="{background: 'blue-grey-50'}" md-whiteframe="4">
        <div class="md-toolbar-tools">
            <md-button ng-source="" aria-label="Landing Page">
                Home
            </md-button>
            <h2>
                <span></span>
            </h2>
            <span flex="10"></span>
            <md-list-item>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="searchstring" type="search" placeholder="Search">
                </md-input-container>
                <md-button class="md-raised" ng-click="goSearch()">Search!</md-button>
            </md-list-item>
            <span flex="75"></span>
            <md-list-item flex class="md-2-line contact-item" ng-href="#!/{{storageuser.role}}/{{storageuser._id}}">
                <img ng-hide="storageuser.avatar" ng-src="img/user.png" class=" "/>
                <img ng-show="storageuser.avatar" ng-src="{{storageuser.avatar}}" class="md-avatar"/>
                <div class="md-list-item-text compact">
                    <h3>{{storageuser.name}}</h3>
                    <p ng-show="storageuser.points.total">{{storageuser.points.total}} points</p>
                </div>
            </md-list-item>
            <md-list-item flex class="md-2-line contact-item" ng-show="storageuser.notifications[0]"
                          href="#!/notifications">
                <img ng-src="img/notification.png" class="md-avatar"/>
                <div class="md-list-item-text compact">
                    <h3>{{storageuser.notifications.length}}</h3>
                </div>
            </md-list-item>

            <md-list-item flex class="md-2-line contact-item" ng-click="showNewPostDialog()">
                <img ng-src="img/newpost.png" class="md-avatar" title="new post"/>
            </md-list-item>
        </div>
    </md-toolbar>
</div>
