<div ng-controller="SidenavCtrl" ng-show="storageuser">
    <div class="o_sidenav md-whiteframe-8dp o_bSidenav">
        <md-sidenav
                class="md-sidenav-left o_bSidenav"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="8">
            <md-toolbar class="o_bSidenav">
                <h1 class="md-toolbar-tools o_fWhiteLight">FoodSports</h1>
            </md-toolbar>
            <md-content class="o_bSidenav">
                <md-list class="md-dense" flex>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/dashboard">
                        <img ng-src="img/sidenav/dashboard.png" class="md-avatar" alt="dashboard"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Dashboard</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/user/{{storageuser._id}}">
                        <img ng-src="img/sidenav/profile.png" class="md-avatar" alt="profile"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Profile</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/clients" ng-show="storageuser.role=='trainer'">
                        <img ng-src="img/sidenav/training.png" class="md-avatar" alt="clients"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Clients</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/network">
                        <img ng-src="img/sidenav/network.png" class="md-avatar" alt="network"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Network</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/training">
                        <img ng-src="img/sidenav/training.png" class="md-avatar" alt="training"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Training</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/eating">
                        <img ng-src="img/sidenav/diet.png" class="md-avatar" alt="eating"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Eating</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="#!/settings">
                        <img ng-src="img/sidenav/settings.png" class="md-avatar" alt="settings"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Settings</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-click="logout()">
                        <img src="img/sidenav/logout.png" class="md-avatar" alt="logout"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="o_fWhiteLight">Logout</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
    <md-toolbar>
        <!-- toolbar fake perquè ocupi l'espai i el contingut de la pàgina no es trepitgi amb la toolbar de debò que està fixed al top=0 -->
    </md-toolbar>
    <md-toolbar md-colors="{background: 'blue-grey-50'}" md-whiteframe="4" style="position:fixed; top:0; z-index:59;">
        <div class="md-toolbar-tools">
            <md-button ng-source="" aria-label="Landing Page">
                Home
            </md-button>
            <h2>
                <span></span>
            </h2>
            <span flex="15"></span>
            <md-list-item>
                <input ng-model="searchstring" type="search"
                placeholder="Search"
                style="background:#ECEFF1; border:0px solid;">
            </md-list-item>
            <md-list-item flex class="md-2-line contact-item" ng-click="goSearch()">
                <img src="img/search.png" />
            </md-list-item>
            <span flex="75"></span>
            <md-list-item flex class="md-2-line contact-item" ng-href="#!/{{storageuser.role}}/{{storageuser._id}}">
                <img ng-hide="storageuser.avatar" ng-src="img/user.png" class=" "/>
                <img ng-show="storageuser.avatar" ng-src="{{storageuser.avatar}}" class="md-avatar"/>
                <div class="md-list-item-text compact">
                    <h3>{{storageuser.name}}</h3>
                    <p ng-show="storageuser.points.total">{{storageuser.points.total}} points</p>
                </div>
            </md-list-item>
            <md-list-item flex class="md-2-line contact-item" ng-show="storageuser.notifications[0]"
                          href="#!/notifications">
                <img ng-src="img/notification.png" class="md-avatar"/>
                <div class="md-list-item-text compact">
                    <h3>{{storageuser.notifications.length}}</h3>
                </div>
            </md-list-item>

            <md-list-item flex class="md-2-line contact-item" ng-click="showNewPostDialog()">
                <img ng-src="img/newpost.png" class="md-avatar" title="new post"/>
            </md-list-item>
        </div>
    </md-toolbar>
</div>
