<div id="wrapper">
    <div ng-include="'views/sidenav.html'"></div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h3>Trainers</h3>
            <ul class="list-group">
                <li ng-repeat="user in users" class="list-group-item">
                    {{user.name}}
                    <small>
                        {{user.role}}
                        {{user.description}}
                    </small>
                    <span class="badge">{{user.email}}</span>
                </li>
            </ul>
        </div><!-- ./container-fluid -->
    </div><!-- ./page-content-wrapper -->
</div><!-- ./wrapper -->
