<md-content class="md-padding" layout-xs="row" layout="row">
    <div flex-xs flex-gt-xs="30" layout="column">
        <!-- start of COLUMN -->
        <md-card>
            <md-toolbar layout="row" class="o_bGreen">
                <div class="md-toolbar-tools">
                    <span>
                      Places
                    </span>
                </div>
            </md-toolbar>
            <md-card-actions>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-click="a()">
                        <div class="md-list-item-text" layout="column">
                            <h3>My position</h3>
                            <p>{{myPosition.coords.latitude}}, {{myPosition.coords.longitude}}</p>
                            <p ng-hide="geoActivated">Need to activate geolocation of browser</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-actions>
        </md-card>
    </div>
    <!-- end of COLUMN -->
    <div flex-xs flex-gt-xs="70" layout="column">
        <!-- start of COLUMN -->
        <md-card>
            <md-toolbar layout="row" class="o_bGreenDark">
                <div class="md-toolbar-tools">
                    <span>
                        Map <span ng-hide="geoActivated">- Need to activate geolocation of browser</span>
                    </span>
                </div>
            </md-toolbar>
            <md-card-actions>
                <ng-map center="[{{myPosition.coords.latitude}}, {{myPosition.coords.longitude}}]"></ng-map>
            </md-card-actions>
        </md-card>
    </div>
    <!-- end of COLUMN -->
</md-content>
<!-- end of row of columns -->
